.sticky-left-column {
  position: sticky;
  left: 0;
}

.sticky-left-column::after {
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
  background: linear-gradient(
    to right,
    rgba(103, 103, 103, 0.1),
    rgba(88, 86, 86, 0)
  );
}
